
html { font-family: 'Arial', sans-serif; }

main {
  width: 50%;
  margin-top: 100px;
}

article {
  width: 100%;
}

i {
  font-family: "Times New Roman", serif;
  font-size: 1.2em;
}

a:hover{
  color: black;
}

a {
  color: blue;
}

#banner {
  width:100%;
}

h1 {
  margin-bottom: 0;
}

li {
  font-family: "Times New Roman", serif;
  font-style: italic;
}

.external {
  margin:0;
  padding:0;
  width: 11.5%;
  position: relative;
  right: 11.5%;
  float: right;
  font-size: 4vw;
}
